.container {
    display: flex;
    flex-wrap: wrap;
}
.itemContainer {
    /* background-color: blue; */
    height: 300px;
    width: 350px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 80px;
    
    
}

.imageContainer {
    display: flex;
    justify-content: center;
    
}
.itemName{
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemPrice {
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.itemRating{
    display: flex;
    justify-content: center;
}

.rupeeIcon{
    height: 20px;
    width: 20px;
}

.itemBody {
    display: flex !important; 
    margin-left: 45px;
}

.itemImage {
    height: 300px;
    /* width: 90%; */
}
.starIcon{

}
.cart{
    margin-left: 70px;
    background-color: rgb(238, 140, 110);
    color: white;
    border-radius: 10%;
    border: none;

}
.cart:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
        transform:scale(.60);
}

.buy{
    margin-left: 60px;
   background-color: rgb(238, 140, 110);
     border: none;
    color: white;
    border-radius: 10%;
}
button1{
    margin-top: 20px;
}