.container{
    background-color: #2874f0;
    display: flex;
    justify-content: space-evenly;
}
.navbarItem{
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.textLink {
    text-decoration: none;
    color: inherit;
}

.navbarHover {
    background-color: red;
}