.formContainer{
    background-color: rgb(245, 179, 153);
    height: 20rem;
    width: 30rem;
    
    margin-left: 27rem;
    margin-top: 5rem;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 10%;
    
}
.formMain{
    text-align: center;
}
.login{
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
    color: rgb(133, 89, 72);;
}
input{
    height: 1.5rem;
    width: 15rem;
    border-style: none;
    background-color: rgb(245, 204, 186);  
}
.inputs{
    margin-bottom: 1rem;
}
.button{
    height: 2rem;
    width: 8rem;
    border-radius: 10%;
    box-shadow: 1px 4px 4px 4px #888888;
border-style: none;
color:rgb(124, 96, 84); 
margin-top: 2rem;
}
.lable{
    margin-bottom: 1rem;
}